*{
    font-family: 'sen', sans-serif;
    /* font-weight: 700;     */
}
body{
    background-color: #ede8df;
    /* convención de colores 
    #a7ce58 - verde sanki; 
    #00c1de - celeste corte; 
    #ede8df - marmol neutro*/
}
header{
    background-color: #00c1de;    
    padding: 0;
    margin: 0;
}
footer{
    background-color: #a7ce58;
    padding: 10px 5px;
    }
h2{
    font-size: 1.5rem;
    color: #a7ce58;
    text-shadow: 0.1rem 0.1rem 0.2rem #000;
}

/* --------------------MENU NAVEGACIÓN */

.nav__respv{
    display: none;
}
.nav{    
    background-color: #ede8df; 
    text-align: center;   
}
.nav__il{
    /* background-color: #f00; */
    display: inline-block;
    list-style: none;    
    padding: 12px;
    color: #a7ce58;
}
.nav__il:hover{
    border-bottom: 0.2rem solid #a7ce58;
    /* background: linear-gradient(to bottom, transparent, #00c1de); */
}
.nav__il a{
    /* background-color: #0f0; */
    color: #666;
    text-decoration: none;
}
.nav__il i{
    box-sizing: border-box; 
    text-align: center;        
}

@media only screen and (max-width:600px){
    .nav__ul{
        display: none;
        }
    .nav__respv{
        display: block;
    }
}

/* --------------------MENU NAVEGACIÓN RESPONSIVE*/

.nav__respv{    
    background-color: #ede8df;
    text-align: right;    
}
.nav__respv-il{
    /* background-color: #f00; */
    display: block;
    list-style: none;    
    padding: 12px;
    color: #a7ce58;
}
.nav__respv-il:hover{
    border-bottom: 0.2rem solid #a7ce58;
    /* background: linear-gradient(to bottom, transparent, #00c1de); */
}
.nav__respv-il a{
    /* background-color: #0f0; */
    color: #666;
    text-decoration: none;
}
.nav__respv-il i{
    box-sizing: border-box; 
    text-align: center;        
}

/*-------------------------------- SECCION PRODUCTOS */

.Sec-Productos{
    padding: 20px;
}
.Grid-container{
    display: grid;
    grid-template-rows: repeat(3,2frpx);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .25rm;
    border: 2px solid #000;
}
.grid-item{
    border: 2px solid #000;
    
}
 
/* -------------------------------Seccion formulario */

.flex-title-form{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00889e;
    padding: 1rem;
    margin: 30px 20px -30px 20px;
    max-width: 1200px;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    
}
.flex-container-form{
    /* Se define la caja como flexible */
    display: flex;
    /* Se define posición centrada, en este caso verticalemnte, *validar porque motivo se centra verticalmente */
    align-items: center;
    /* Para poder configurar al momento de diseñarse como responsive */
    flex-wrap: wrap;
    /* Se alinea dentro del espacio den contenedor */
    justify-content: center;
    background: #00889e;
    margin: 30px 20px;
    max-width: 1200px;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.form{
    min-width: 320px;    
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: 5px;
    order: 5;
    }
.form__input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-bottom: 0.2rem solid #a7ce58;
    background: transparent;
    color: #fff;
}
.form__input[type="submit"]{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;    
    background: #a7ce58;
    color: #fff;
}
.form__input:focus{
    outline: none;
    border-bottom: 0.2rem solid #ffe23c;
    background: linear-gradient(to bottom, transparent, #00c1de);
}
.form textarea{
    min-height: 120px;
    resize: none;
}
.flex-container-circle{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: #fff;
    margin: 20px;
    padding: 1rem;
    /* border-style: dashed; */
    box-shadow: .3rem .3rem .8rem #000;
    order: 1;
}
.flex-container-circle div img{    
    width: 90%;
    margin: 5%;
       
}